In [133]:
import pandas as pd
from sklearn.linear_model import LogisticRegression

In [95]:
database = pd.read_csv('COBRA-YTD2017.csv')

In [112]:
database.rename(columns={'UC2 Literal' : 'Crime', 'occur_time': 'time', 'MaxOfnum_victims': 'victims'}, inplace=True)
display(database.head)

<bound method NDFrame.head of        MI_PRINX  offense_id    rpt_date  occur_date                time  \
0       8924155   173650072  12/31/2017  12/30/2017 2018-04-13 23:15:00
1       8924156   173650102  12/31/2017  12/18/2017 2018-04-13 13:00:00
2       8924157   173650144  12/31/2017  12/30/2017 2018-04-13 22:01:00
3       8924158   173650149  12/31/2017  12/30/2017 2018-04-13 20:00:00
4       8924159   173650159  12/31/2017  12/31/2017 2018-04-13 00:41:00
5       8924160   173650180  12/31/2017  12/30/2017 2018-04-13 23:00:00
6       8924161   173650236  12/31/2017  12/31/2017 2018-04-13 01:55:00
7       8924162   173650241  12/31/2017  12/31/2017 2018-04-13 00:00:00
8       8924163   173650295  12/31/2017  12/30/2017 2018-04-13 00:00:00
9       8924164   173650389  12/31/2017  12/31/2017 2018-04-13 00:00:00
10      8924165   173650449  12/31/2017  12/31/2017 2018-04-13 00:40:00
11      8924166   173650562  12/31/2017  12/31/2017 2018-04-13 00:00:00
12      8924167   173650568  12/31/2017  12/31/2017 2018-04-13 06:00:00
13      8924168   173650573  12/31/2017  12/31/2017 2018-04-13 06:00:00
14      8924169   173650617  12/31/2017  12/31/2017 2018-04-13 07:25:00
15      8924170   173650717  12/31/2017  12/30/2017 2018-04-13 16:00:00
16      8924171   173650749  12/31/2017  12/31/2017 2018-04-13 09:29:00
17      8924172   173650753  12/31/2017  12/31/2017 2018-04-13 05:00:00
18      8924173   173650754  12/31/2017  12/31/2017 2018-04-13 09:00:00
19      8924174   173650781  12/31/2017  12/30/2017 2018-04-13 16:00:00
20      8924175   173650801  12/31/2017  12/31/2017 2018-04-13 00:00:00
21      8924176   173650815  12/31/2017  12/31/2017 2018-04-13 10:30:00
22      8924177   173650847  12/31/2017  12/31/2017 2018-04-13 10:45:00
23      8924178   173650915  12/31/2017  12/31/2017 2018-04-13 11:39:00
24      8924179   173650929  12/31/2017  12/30/2017 2018-04-13 22:00:00
25      8924180   173650938  12/31/2017  12/31/2017 2018-04-13 11:30:00
26      8924181   173650943  12/31/2017  12/31/2017 2018-04-13 11:50:00
27      8924182   173650977  12/31/2017  12/30/2017 2018-04-13 22:00:00
28      8924183   173650979  12/31/2017  12/30/2017 2018-04-13 23:00:00
29      8924184   173650993  12/31/2017  12/31/2017 2018-04-13 11:00:00
...         ...         ...         ...         ...                 ...
26729   8897571   170011037  01/01/2017  01/01/2017 2018-04-13 09:50:00
26730   8897572   170011070  01/01/2017  01/01/2017 2018-04-13 10:25:00
26731   8897573   170011072  01/01/2017  01/01/2017 2018-04-13 02:30:00
26732   8897574   170011110  01/01/2017  12/31/2016 2018-04-13 15:00:00
26733   8897575   170011129  01/01/2017  12/31/2016 2018-04-13 12:00:00
26734   8897576   170011138  01/01/2017  12/31/2016 2018-04-13 20:00:00
26735   8897577   170011171  01/01/2017  12/31/2016 2018-04-13 21:00:00
26736   8897578   170011180  01/01/2017  12/31/2016 2018-04-13 23:00:00
26737   8897579   170011182  01/01/2017  12/31/2016 2018-04-13 22:45:00
26738   8897580   170011193  01/01/2017  01/01/2017 2018-04-13 03:00:00
26739   8897581   170011232  01/01/2017  01/01/2017 2018-04-13 11:30:00
26740   8897582   170011255  01/01/2017  01/01/2017 2018-04-13 12:00:00
26741   8897583   170011300  01/01/2017  12/31/2016 2018-04-13 10:00:00
26742   8897584   170011304  01/01/2017  01/01/2017 2018-04-13 01:00:00
26743   8897585   170011316  01/01/2017  12/31/2016 2018-04-13 22:30:00
26744   8897586   170011324  01/01/2017  01/01/2017 2018-04-13 13:00:00
26745   8897587   170011335  01/01/2017  01/01/2017 2018-04-13 02:30:00
26746   8897588   170011336  01/01/2017  01/01/2017 2018-04-13 13:30:00
26747   8897589   170011344  01/01/2017  12/31/2016 2018-04-13 22:30:00
26748   8897590   170011358  01/01/2017  12/31/2016 2018-04-13 19:00:00
26749   8897591   170011435  01/01/2017  12/31/2016 2018-04-13 19:05:00
26750   8897592   170011504  01/01/2017  01/01/2017 2018-04-13 15:00:00
26751   8897593   170011513  01/01/2017  01/01/2017 2018-04-13 14:50:00
26752   8897594   170011525  01/01/2017  01/01/2017 2018-04-13 15:37:00
26753   8897595   170011531  01/01/2017  01/01/2017 2018-04-13 14:15:00
26754   8897596   170011548  01/01/2017  12/03/2016 2018-04-13 08:00:00
26755   8897597   170011621  01/01/2017  01/01/2017 2018-04-13 17:00:00
26756   8897598   170011645  01/01/2017  12/31/2016 2018-04-13 20:00:00
26757   8897599   170011678  01/01/2017  01/01/2017 2018-04-13 16:10:00
26758   8897600   170011682  01/01/2017  12/30/2016 2018-04-13 22:00:00

        poss_date poss_time  beat apt_office_prefix apt_office_num  ...   \
0      12/31/2017  00:30:00   510               NaN            NaN  ...
1      12/30/2017  22:00:00   501               NaN            NaN  ...
2      12/31/2017  01:00:00   303               NaN            NaN  ...
3      12/31/2017  01:06:00   507               NaN            NaN  ...
4      12/31/2017  00:48:00   409               NaN            NaN  ...
5      12/31/2017  01:26:00   612               NaN            NaN  ...
6      12/31/2017  01:59:00   605               NaN             13  ...
7      12/31/2017  02:00:00   603               NaN            NaN  ...
8      12/31/2017  03:02:00   605               NaN            NaN  ...
9      12/31/2017  03:34:00   304               NaN              8  ...
10     12/31/2017  04:10:00   303               NaN            NaN  ...
11     12/31/2017  05:53:00   104               NaN            NaN  ...
12     12/31/2017  06:01:00   309               NaN              A  ...
13     12/31/2017  06:05:00   305               NaN           1108  ...
14     12/31/2017  07:35:00   304               NaN            NaN  ...
15     12/31/2017  07:00:00   410                 R            103  ...
16     12/31/2017  09:29:00   105               NaN            NaN  ...
17     12/31/2017  08:00:00   113               NaN            NaN  ...
18     12/31/2017  09:35:00   307               NaN            NaN  ...
19     12/31/2017  09:49:00   208               NaN            NaN  ...
20     12/31/2017  10:07:00   609               NaN           2101  ...
21     12/31/2017  11:00:00   603               NaN            NaN  ...
22     12/31/2017  10:48:00   306               NaN            NaN  ...
23     12/31/2017  11:39:00   105               NaN            NaN  ...
24     12/31/2017  12:00:00   104               NaN           9206  ...
25     12/31/2017  11:52:00   501               NaN            NaN  ...
26     12/31/2017  11:54:00   107               NaN            NaN  ...
27     12/31/2017  11:00:00   509               NaN            NaN  ...
28     12/31/2017  12:10:00   206               NaN            NaN  ...
29     12/31/2017  12:31:00   210               NaN            NaN  ...
...           ...       ...   ...               ...            ...  ...
26729  01/01/2017  09:56:00   204               NaN            NaN  ...
26730  01/01/2017  10:25:00   101               NaN            NaN  ...
26731  01/01/2017  03:00:00   511               NaN            NaN  ...
26732  01/01/2017  10:00:00   607               NaN            NaN  ...
26733  01/01/2017  11:00:00   206               NaN            103  ...
26734  01/01/2017  14:00:00   102               APT           1317  ...
26735  01/01/2017  11:00:00   504               NaN            NaN  ...
26736  01/01/2017  10:30:00   409               NaN            NaN  ...
26737  01/01/2017  11:43:00   408               NaN             A6  ...
26738  01/01/2017  03:15:00   509               NaN            NaN  ...
26739  01/01/2017  11:45:00   507                RM            821  ...
26740  01/01/2017  13:00:00   612               NaN            NaN  ...
26741  12/31/2016  17:00:00   208               NaN            NaN  ...
26742  01/01/2017  12:00:00   209               NaN            NaN  ...
26743  01/01/2017  12:00:00   412               NaN            NaN  ...
26744  01/01/2017  13:15:00   503              SUIT            919  ...
26745  01/01/2017  05:30:00   505               NaN            NaN  ...
26746  01/01/2017  13:40:00   409               NaN             C2  ...
26747  01/01/2017  13:30:00   406               NaN            NaN  ...
26748  01/01/2017  11:00:00   505               NaN           1105  ...
26749  12/31/2016  22:30:00   504               NaN            NaN  ...
26750  01/01/2017  15:30:00   602               NaN            NaN  ...
26751  01/01/2017  15:00:00   208               NaN            NaN  ...
26752  01/01/2017  15:37:00   303               NaN            NaN  ...
26753  01/01/2017  15:45:00   610               NaN            NaN  ...
26754  01/01/2017  15:00:00   211               NaN            NaN  ...
26755  01/01/2017  18:00:00   114               NaN            B13  ...
26756  01/01/2017  14:00:00   302               NaN            NaN  ...
26757  01/01/2017  16:30:00   205               NaN            NaN  ...
26758  01/01/2017  05:00:00   113               APT           A414  ...

      victims  Shift Avg Day loc_type                 Crime  \
0         2.0   Morn     Sat     13.0  LARCENY-FROM VEHICLE
1         1.0    Unk     Unk     13.0  LARCENY-FROM VEHICLE
2         1.0   Morn     Sat     18.0  LARCENY-FROM VEHICLE
3         1.0    Eve     Sat     18.0  LARCENY-FROM VEHICLE
4         2.0   Morn     Sun     18.0  LARCENY-FROM VEHICLE
5         1.0   Morn     Sun     18.0  LARCENY-FROM VEHICLE
6         1.0   Morn     Sun     26.0    ROBBERY-PEDESTRIAN
7         1.0   Morn     Sun     18.0  LARCENY-FROM VEHICLE
8         1.0    Unk     Sat     13.0  LARCENY-FROM VEHICLE
9         1.0   Morn     Sun     26.0    BURGLARY-RESIDENCE
10        1.0   Morn     Sun     13.0            AUTO THEFT
11        1.0   Morn     Sun      NaN  LARCENY-FROM VEHICLE
12        1.0   Morn     Sun      NaN       BURGLARY-NONRES
13        2.0   Morn     Sun     26.0     ROBBERY-RESIDENCE
14        1.0    Day     Sun      7.0            AUTO THEFT
15        1.0   Morn     Sat     26.0            AUTO THEFT
16        1.0    Day     Sun     99.0  LARCENY-FROM VEHICLE
17        1.0   Morn     Sun     20.0  LARCENY-FROM VEHICLE
18        1.0    Day     Sun     24.0   LARCENY-NON VEHICLE
19        1.0    Unk     Sun     18.0  LARCENY-FROM VEHICLE
20        1.0   Morn     Sun     18.0  LARCENY-FROM VEHICLE
21        1.0    Day     Sun     12.0   LARCENY-NON VEHICLE
22        1.0    Day     Sun     23.0   LARCENY-NON VEHICLE
23        1.0    Day     Sun     20.0  LARCENY-FROM VEHICLE
24        4.0   Morn     Sun     18.0  LARCENY-FROM VEHICLE
25        2.0    Day     Sun     18.0  LARCENY-FROM VEHICLE
26        1.0    Day     Sun     18.0  LARCENY-FROM VEHICLE
27        1.0   Morn     Sun     18.0  LARCENY-FROM VEHICLE
28        1.0   Morn     Sun     13.0            AUTO THEFT
29        1.0    Day     Sun      8.0   LARCENY-NON VEHICLE
...       ...    ...     ...      ...                   ...
26729     1.0    Day     Sun     18.0    ROBBERY-PEDESTRIAN
26730     2.0    Day     Sun     26.0  LARCENY-FROM VEHICLE
26731     1.0   Morn     Sun     18.0            AUTO THEFT
26732     2.0    Unk     Sun     20.0    BURGLARY-RESIDENCE
26733     1.0    Unk     Sat     18.0  LARCENY-FROM VEHICLE
26734     1.0    Unk     Sun     18.0            AUTO THEFT
26735     1.0   Morn     Sun     13.0  LARCENY-FROM VEHICLE
26736     1.0   Morn     Sun     18.0            AUTO THEFT
26737     1.0   Morn     Sun     26.0    BURGLARY-RESIDENCE
26738     1.0   Morn     Sun     99.0   LARCENY-NON VEHICLE
26739     1.0    Day     Sun     14.0   LARCENY-NON VEHICLE
26740     1.0    Day     Sun     23.0  LARCENY-FROM VEHICLE
26741     1.0    Day     Sat     14.0            AUTO THEFT
26742     1.0   Morn     Sun      3.0   LARCENY-NON VEHICLE
26743     1.0   Morn     Sun      NaN            AUTO THEFT
26744     1.0    Day     Sun     21.0   LARCENY-NON VEHICLE
26745     1.0   Morn     Sun      NaN            AUTO THEFT
26746     1.0    Day     Sun      5.0       BURGLARY-NONRES
26747     1.0   Morn     Sun     13.0            AUTO THEFT
26748     1.0    Unk     Sun     18.0  LARCENY-FROM VEHICLE
26749     1.0    Eve     Sat     13.0  LARCENY-FROM VEHICLE
26750     1.0    Eve     Sun     20.0  LARCENY-FROM VEHICLE
26751     1.0    Day     Sun     24.0   LARCENY-NON VEHICLE
26752     1.0    Eve     Sun      3.0  LARCENY-FROM VEHICLE
26753     1.0    Eve     Sun     21.0  LARCENY-FROM VEHICLE
26754     1.0    Unk     Unk     20.0   LARCENY-NON VEHICLE
26755     2.0    Eve     Sun     26.0   LARCENY-NON VEHICLE
26756     1.0    Unk     Sun     13.0  LARCENY-FROM VEHICLE
26757     1.0    Eve     Sun      7.0   LARCENY-NON VEHICLE
26758     1.0    Unk     Unk     26.0    BURGLARY-RESIDENCE

                        neighborhood npu         x         y  hour
0                           Downtown   M -84.38013  33.75582  23.0
1                          Home Park   E -84.39745  33.78674  13.0
2                     Mechanicsville   V -84.39486  33.73760  22.0
3                   Castleberry Hill   M -84.39887  33.75156  20.0
4                         Adams Park   R -84.46522  33.72146   0.0
5                       East Atlanta   W -84.34660  33.74006  23.0
6                         Grant Park   W -84.37373  33.74505   1.0
7                    Old Fourth Ward   M -84.37190  33.77303   0.0
8                         Grant Park   W -84.37285  33.74639   0.0
9                        Peoplestown   V -84.38625  33.72579   0.0
10                    Mechanicsville   V -84.39495  33.73616   0.0
11                       Mozley Park   K -84.43192  33.74974   0.0
12                         Perkerson   X -84.40766  33.68243   6.0
13            The Villages at Carver   Y -84.39276  33.71691   6.0
14                       Peoplestown   V -84.38742  33.73048   7.0
15                  Campbellton Road   R -84.46574  33.70087  16.0
16                      Hunter Hills   K -84.43107  33.75831   9.0
17                     Lincoln Homes   G -84.47527  33.79671   5.0
18                  Lakewood Heights   Y -84.38031  33.70678   9.0
19                    North Buckhead   B -84.36983  33.84746  16.0
20                          Edgewood   O -84.33868  33.75757   0.0
21                   Old Fourth Ward   M -84.38023  33.77067  10.0
22                      Sylvan Hills   X -84.40795  33.70369  10.0
23                      Hunter Hills   K -84.43089  33.75437  11.0
24                   Ashview Heights   T -84.42057  33.74647  22.0
25                         Home Park   E -84.40344  33.78852  11.0
26                        Grove Park   J -84.43407  33.77075  11.0
27                          Downtown   M -84.38554  33.76020  22.0
28                      Garden Hills   B -84.37784  33.83476  23.0
29                             Lenox   B -84.36212  33.84676  11.0
...                              ...  ..       ...       ...   ...
26729                  Berkeley Park   D -84.41267  33.80181   9.0
26730  The Villages at Castleberry H   T -84.40523  33.74505  10.0
26731                       Downtown   M -84.38534  33.75096   2.0
26732                  Ormewood Park   W -84.35256  33.73416  15.0
26733               Buckhead Village   B -84.37533  33.83888  12.0
26734                      Vine City   L -84.41371  33.75822  20.0
26735         Marietta Street Artery   E -84.41050  33.77957  21.0
26736                      Southwest   R -84.48726  33.69638  23.0
26737                 Venetian Hills   S -84.44863  33.71000  22.0
26738                       Downtown   M -84.38554  33.76929   3.0
26739                       Downtown   M -84.39422  33.75857  11.0
26740                   East Atlanta   W -84.32324  33.72602  12.0
26741                 North Buckhead   B -84.36983  33.84746  10.0
26742                 North Buckhead   B -84.38159  33.85750   1.0
26743             Sandlewood Estates   P -84.54439  33.70136  22.0
26744                        Midtown   E -84.38404  33.78019  13.0
26745                        Midtown   E -84.38975  33.77487   2.0
26746                      Southwest   R -84.48046  33.70046  13.0
26747                   Magnum Manor   I -84.49334  33.72723  22.0
26748                        Midtown   E -84.38424  33.77800  19.0
26749         Marietta Street Artery   E -84.40612  33.77425  19.0
26750                     Inman Park   N -84.35289  33.76341  15.0
26751                 North Buckhead   B -84.36235  33.85166  14.0
26752                 Mechanicsville   V -84.39486  33.73760  15.0
26753                       Kirkwood   O -84.31645  33.76408  14.0
26754                 Peachtree Park   B -84.36772  33.84482   8.0
26755                     Old Gordon   H -84.51322  33.76797  17.0
26756                     Pittsburgh   V -84.40465  33.73026  20.0
26757               Wildwood (NPU-C)   C -84.41347  33.81022  16.0
26758                     Carey Park   G -84.47292  33.78810  22.0

[26759 rows x 24 columns]>

In [114]:
database.Crime.unique()

array(['LARCENY-FROM VEHICLE', 'ROBBERY-PEDESTRIAN', 'BURGLARY-RESIDENCE',
       'AUTO THEFT', 'BURGLARY-NONRES', 'ROBBERY-RESIDENCE',
       'LARCENY-NON VEHICLE', 'AGG ASSAULT', 'RAPE', 'ROBBERY-COMMERCIAL',
       'HOMICIDE'], dtype=object)

In [115]:
# NOTE: Clean up database.
database['Crime'] = database['Crime'].replace({'LARCENY-FROM VEHICLE': '1',
                          'ROBBERY-PEDESTRIAN': '2',
                          'BURGLARY-RESIDENCE': '3',
                          'AUTO THEFT': '4',
                          'BURGLARY-NONRESIDENCE': '5',
                          'BURGLARY-NONRES': '6',
                          'ROBBERY-RESIDENCE': '7',
                          'LARCENY-NON VEHICLE': '8',
                          'AGG ASSAULT': '9',
                          'ROBBERY-COMMERCIAL': '10',
                          'HOMICIDE': '11'})

In [156]:
# database['time'] = pd.to_datetime(database.time)
# # TODO: Figure out how to plot a scatter_matrix

# # from pandas.plotting import scatter_matrix

# # database['occur_time'] = pd.to_datetime(database['occur_time'], errors='coerce')

# # database['occur_time'] = database['occur_time'].dt.time

# database['hour'] = database.time.dt.hour
# # database['hour'].value_counts()

database['victims'] = database['victims'].fillna(0)
database.victims = database.victims.astype(int)
database.hour = database.victims.astype(int)
database.x = database.x.astype(int)
database.y = database.y.astype(int)

database.dtypes

MI_PRINX                      int64
offense_id                    int64
rpt_date                     object
occur_date                   object
time                 datetime64[ns]
poss_date                    object
poss_time                    object
beat                          int64
apt_office_prefix            object
apt_office_num               object
location                     object
MinOfucr                      int64
MinOfibr_code                object
dispo_code                   object
victims                       int32
Shift                        object
Avg Day                      object
loc_type                    float64
Crime                        object
neighborhood                 object
npu                          object
x                             int32
y                             int32
hour                          int32
dtype: object

In [157]:
from sklearn.preprocessing import scale

X_all = database.drop(['Crime'], 1)
y_all = database['Crime']

X_all = database[['hour', 'victims', 'x', 'y']]

In [158]:
from sklearn.cross_validation import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X_all, y_all, test_size = 50, random_state = 2, stratify = y_all)

X_train

       hour  victims   x   y
24995     1        1 -84  33
23425     3        3 -84  33
6324      1        1 -84  33
21330     1        1 -84  33
22965     2        2 -84  33
24783     1        1 -84  33
2267      1        1 -84  33
8933      1        1 -84  33
7683      1        1 -84  33
21534     1        1 -84  33
25145     1        1 -84  33
23438     1        1 -84  33
4839      4        4 -84  33
17753     2        2 -84  33
9119      3        3 -84  33
3493      1        1 -84  33
10703     1        1 -84  33
20788     1        1 -84  33
13635     1        1 -84  33
25804     1        1 -84  33
13560     1        1 -84  33
11570     1        1 -84  33
571       1        1 -84  33
13963     1        1 -84  33
22388     1        1 -84  33
3785      1        1 -84  33
14924     1        1 -84  33
7692      1        1 -84  33
20301     1        1 -84  33
11045     1        1 -84  33
...     ...      ...  ..  ..
12360     1        1 -84  33
13161     1        1 -84  33
18110     1        1 -84  33
15145     1        1 -84  33
6970      1        1 -84  33
24031     2        2 -84  33
7717      1        1 -84  33
24457     1        1 -84  33
22543     1        1 -84  33
8018      1        1 -84  33
25334     1        1 -84  33
3         1        1 -84  33
14496     1        1 -84  33
6436      1        1 -84  33
20422     1        1 -84  33
8472      1        1 -84  33
18315     1        1 -84  33
17991     1        1 -84  33
20060     1        1 -84  33
22716     1        1 -84  33
9999      1        1 -84  33
20980     1        1 -84  33
925       1        1 -84  33
25058     1        1 -84  33
7386      1        1 -84  33
21657     1        1 -84  33
15453     1        1 -84  33
21479     1        1 -84  33
21433     1        1 -84  33
23375     1        1 -84  33

[26709 rows x 4 columns]

In [164]:
from sklearn.metrics import f1_score

def train_classifier(clf, X_train, y_train):
    clf.fit(X_train, y_train)
    
def predict_labels(clf, features, target):
    y_pred = clf.predict(features)
    
    return f1_score(target, y_pred, pos_label='1', average='macro'), sum(target == y_pred) / float(len(y_pred))

def train_predict(clf, X_train, y_train, X_test, y_test):
    
    train_classifier(clf, X_train, y_train)
    
    f1, acc = predict_labels(clf, X_train, y_train)
    
    f1, acc = predict_labels(clf, X_test, y_test)

In [165]:
clf_A = LogisticRegression(random_state = 42)

train_predict(clf_A, X_train, y_train, X_test, y_test)

c:\users\kbantupa\documents\github\atlanta_crime\env\lib\site-packages\sklearn\metrics\classification.py:1045: UserWarning: Note that pos_label (set to '1') is ignored when average != 'binary' (got 'macro'). You may use labels=[pos_label] to specify a single positive class.
  % (pos_label, average), UserWarning)
c:\users\kbantupa\documents\github\atlanta_crime\env\lib\site-packages\sklearn\metrics\classification.py:1135: UndefinedMetricWarning: F-score is ill-defined and being set to 0.0 in labels with no predicted samples.
  'precision', 'predicted', average, warn_for)

In [ ]:
n_matches = database.shape[0]

n_features = database.shape[1] - 1

n_larcfromvehicle = len(database[database.Crime == 'LARCENY-FROM VEHICLE'])
n_robberyped = len(database[database.Crime == 'ROBBERY-PEDESTRIAN'])

win_rate = (float(n_homewins) / (n_matches)) * 100

print(win_rate)